h1 {
  color: #c5ffce;
  text-align: center;
  font-family: math;
}

p {
  text-align: center;
  color: #d3efff;
  font-family: cursive;
  font-size: 18px;
  max-width: 900px;
  margin: auto;
  line-height: 2rem;
}

body {
  background-color: #092433;
}
